    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
            <a href="#"><img src="img/icon/heart.png" alt=""></a>
            <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Sign in</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>Usd <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>USD</li>
                                    <li>EUR</li>
                                    <li>USD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                    <%= link_to root_path do %>
                        <%= image_tag('ThrivethreadsTM.png', alt: 'Logo') %>
                    <% end %>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><%= link_to 'Home', root_path, class: '' + (current_page?(root_path) ? ' active' : '') %></li>
                            <li><%= link_to 'About Us', about_path, class: '' + (current_page?(about_path) ? ' active' : '') %></li>
                            <li><%= link_to 'Contact Us', contact_path, class: '' + (current_page?(contact_path) ? ' active' : '') %></li>
                            <li><a href="#">Shop</a>
                                <ul class="dropdown">
                                    <li><%= link_to 'Categories', categories_path, class: '' + (current_page?(categories_path) ? ' active' : '') %></li>
                                    <li><%= link_to 'On Sale', products_path(sale: true), class: '' + (params[:sale] == 'true' ? ' active' : '') %></li>
                                    <li><%= link_to 'New', products_path(new: true), class: '' + (params[:new] == 'true' ? ' active' : '') %></li>
                                    <li><%= link_to 'Recent Update', products_path(updated: true), class: '' + (params[:updated] == 'true' ? ' active' : '') %></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <%= form_tag(search_path, method: "get", id: "searchForm") do %>
                            <input id="searchInput" type="text" name="q" placeholder="Search...">
                            <select name="category">
                                <option value="">All Categories</option>
                                <% Category.all.each do |category| %>
                                    <option value="<%= category.id %>"><%= category.name %></option>
                                <% end %>
                            </select>
                            <button type="submit"><img src="<%= asset_path('icon/search.png') %>" alt="Search"></button>
                        <% end %>
                        <a href="#"><img src="<%= asset_path('icon/heart.png') %>" alt=""></a>
                        <%= link_to shopping_cart_path do %><img src="<%= asset_path('icon/cart.png') %>" alt=""><span><%= session[:shopping_cart].size %></span><% end %>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
<script>
    document.getElementById("searchSubmit").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default behavior of the link
        document.getElementById("searchForm").submit(); // Submit the form
    });
</script>
    <!-- Header Section End -->