<%= render_breadcrumbs %>
<h1>Products for <%= @category.name %></h1>

<% @category.products.each do |product| %>
  <div>
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <%= link_to "Show this product", product %>
  </div>
<% end %>
