<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>

  <p>
    <strong>Images:</strong>
    <% if product.images.present? %>
      <div class="product-images">
        <% product.images.each do |image| %>
          <%= image_tag rails_blob_path(image.file) %>
        <% end %>
      </div>
    <% else %>
      No images available
    <% end %>
  </p>

</div>
