<div id="<%= dom_id product %>">
  <p>
    <strong>Images:</strong>
    <% if product.images.present? %>
      <div class="product-images">
        <% product.images.each do |image| %>
          <%= image_tag rails_blob_path(image.file), style: "width: 200px; height: auto;" %>
        <% end %>
      </div>
    <% else %>
      No images available
    <% end %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category.name %>
  </p>

  <% if cart.include?(product) %>
    <%= button_to cart_path(product), method: :delete do %>
    Remove from cart ❌
    <% end %>
  <% else %>
    <%=form_with url: cart_index_path, method: :post do %>
    <%= hidden_field_tag(:id, product.id)%>
    <%= button_tag 'Add to cart 🛒' %>
    <% end %>
  <% end %>
</div>
